* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px;
  padding: 15px;
  box-shadow: -10px 15px 19px 3px rgba(0, 0, 0, 0.2);
  background-color: cadetblue;
  color: white;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-container {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}

.timer {
  font-size: 32px;
}

.btn-container {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 20%;
  height: 60px;
  cursor: pointer;
}

.btn:active {
  background-color: white;
}
